:root {
  --black: #000;
  --green: #4bb34b;
  --orange: #ffa000;
  --orange_fire: #f05c44;
  --orange_prominent: #ff724c;
  --red: #e64646;
  --turquoise: #63b9ba;
  --white: #fff;
  --yellow: #ffc107;
}
